<div class="reset-container">
  <h2>Reset Password</h2>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <label>New Password</label>
    <input type="password" formControlName="password" />

    @if (resetForm.get('password')?.touched && resetForm.get('password')?.invalid) {
      <div>
        @if (resetForm.get('password')?.errors?.['pattern']) {
          <small>
            Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1
            special character
          </small>
        }
      </div>
    }
    <button type="submit">Reset Password</button>
  </form>

  @if (message) {
    <p class="success">{{ message }}</p>
  }
  @if (error) {
    <p class="error">{{ error }}</p>
  }
</div>
