$primary: #4f46e5;
$primary-dark: #3730a3;
$primary-light: #d4d2f9;
$bg-light: #f9fafb;
$text-main: #111827;
$text-muted: #6b7280;
$white: #ffffff;
$shadow:
  0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);

.register-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(135deg, $primary 0%, $primary-dark 100%);
  box-shadow: $shadow;
  color: $white;
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      font-weight: bold;

      input,
      select {
        background-color: $primary-light;
        padding: 0.5rem;
        margin-top: 0.25rem;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #999;
        cursor: not-allowed;
      }
    }

    p {
      margin-top: 1rem;
      text-align: center;
      font-size: large;
      a {
        color: $primary-light;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .message {
    color: green;
    text-align: center;
    margin-top: 0.5rem;
  }

  .error {
    color: red;
    font-size: 0.9rem;
  }
}
